/* Estilos personalizados para a tabela */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para as células da tabela */
.table-custom th,
.table-custom td {
    padding: 10px;
    text-align: center;
}

/* Estilos para o cabeçalho da tabela */
.table-custom thead {
    background-color: #343a40;
    color: #fff;
}

/* Estilos para as células de edição */
.table-custom .edicao-cell span {
    cursor: pointer;
    margin: 0 5px;
}

/* Estilos para alternar cores das linhas */
.table-custom tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilos quando o mouse está sobre o emoji */
.table-custom .edicao-cell span:hover {
    color: red; /* Altera a cor do emoji quando o mouse está sobre ele */
    transition: color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
}